body
  height 100%
  width 100%

  canvas
    height 100%
    width 100%
    margin 0

  .small-pad
    padding-left 6px
    padding-right 3px

  .row-btn
    padding-top 4px
    padding-bottom 4px
    margin auto
