mixin param(model)
	input(type="number" ng-model=model)

doctype html5
head
	link(href="bootstrap.min.css", rel="stylesheet")
	link(href="fractal.css", rel="stylesheet")
	script(src="jquery.min.js")
	script(src="angular.min.js")
	script(src="bootstrap.min.js")
body(ng-app="app" ng-controller="FractaltCtrl")
	.container
		.col-xs-4
			button.btn.btn-primary.btn-lg(type="button", ng-click="redraw()") draw
			ul(ng-repeat="scene in scenes")
				li
					a(href="#" ng-click="load(scene)") {{ scene.name }}
			select(ng-model="f" ng-options="k for (k,f) in functions")
			br
			| p.x :
			+param('p.x')
			button(ng-click="p.x = p.x + d.x / 4; redraw()") +
			button(ng-click="p.x = p.x - d.x / 4; redraw()") -
			br
			| p.y :
			+param('p.y')
			button(ng-click="p.y = p.y + d.y / 4; redraw()") +
			button(ng-click="p.y = p.y - d.y / 4; redraw()") -
			br
			| d.x :
			+param('d.x')
			button(ng-click="d.x = dx * 3/2; redraw()") +
			button(ng-click="d.x = dx * 2/3; redraw()") -
			br
			| d.y :
			+param('d.y')
			button(ng-click="d.y = d.y * 3/2; redraw()") +
			button(ng-click="d.y = d.y * 2/3; redraw()") -
			br
			| c.x :
			+param('c.x')
			button(ng-click="c.x = c.x + 0.01; redraw()") +
			button(ng-click="c.x = c.x - 0.01; redraw()") -
			br
			| c.y :
			+param('c.y')
			button(ng-click="c.y = c.y + 0.01; redraw()") +
			button(ng-click="c.y = c.y - 0.01; redraw()") -
			br
			| iters
			+param('iter')
			button(ng-click="iter = iter + 5; redraw()") +
			button(ng-click="iter = iter + 5; redraw()") -
			br
			| brots
			input(type="number" ng-model="buddhabrot")
			button(ng-click="buddhabrot = buddhabrot + 5; redraw()") +
			button(ng-click="buddhabrot = buddhabrot + 5; redraw()") -
		.col-xs-8
			canvas(style="", ng-click="zoom($event)")
	script(src="fractal.js")
